# Global ignores
.DS_Store
.env
.env.example

# Rust & Cargo
/target
**/target/
Cargo.lock

# Shuttle-specific
/backend/.shuttle/
/backend/.env
/backend/Secrets*.toml

# Node & Frontend (si applicable)
node_modules/
dist/
